<div class="center jumbotron">
  <h1> Welcome to Talkr!</h1>

  <h2> This is the home page to my kick ass Twitter clone site!</h2>
    <p> Feel free to take a look around as I try to implement new ideas as I continue to learn Rails site building.</p>

  <%=link_to 'Sign up', new_user_registration_path, class:'btn btn-lg btn-danger'%>
</div>
